<div class="admin-plugin-gitter">
  <h1>Integrations</h1>

  {{#each model as |integration|}}
    {{integration-item integration=integration
                       filters=filters
                       onDelete=(action "deleteIntegration")}}
  {{/each}}

  <div class="new-integration">
    <h3>New integration</h3>
    <div>{{text-field value=editingIntegration.room placeholderKey="gitter.choose.room" class="channel"}}</div>
    <div>{{text-field value=editingIntegration.webhook placeholderKey="gitter.choose.webhook" class="channel"}}</div>
    <div>
      {{d-button
        action="saveIntegration"
        icon="save"
        class="save btn-primary"
        label="gitter.save_integration"
        title="save"
        disabled=integrationSaveDisabled}}
    </div>
  </div>
</div>


